<aw-wizard>
  <aw-wizard-step stepTitle="Title of step 1">
    Content of Step 1
    <button type="button" class="btn btn-primary" awNextStep>
      Next Step
    </button>
    <button type="button" class="btn btn-primary" [awGoToStep]="{stepIndex: 2}">
      Go directly to third Step
    </button>
  </aw-wizard-step>
  <aw-wizard-step stepTitle="Title of step 2" awOptionalStep>
    Content of Step 2
    <button type="button" class="btn btn-primary" awPreviousStep>
      Go to previous step
    </button>
    <button type="button" class="btn btn-primary" awNextStep>
      Go to next step
    </button>
  </aw-wizard-step>
  <aw-wizard-step stepTitle="Title of step 3">
    Content of Step 3
    <button type="button" class="btn btn-primary" awPreviousStep>
      Previous Step
    </button>
    <button type="button" class="btn btn-primary" (click)="finishFunction()">
      Finish
    </button>
  </aw-wizard-step>
</aw-wizard>
